<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>SUFeedURL</key>
	<string>https://github.com/zhang-hongshen/ModelCraft/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>kd8PcpzZyUDjtIcES6rUPqz0HKWVl1LY34wvhF0iPw4</string>
</dict>
</plist>
